.page-homepage main{
    overflow-x: hidden;
    width: 100%;
}
.page-homepage .hero-text-container{
    position: absolute;
    z-index: 20;
    left: 5%;
    padding-top: 7rem;
}
.page-homepage .hero-text-container h1{
   color: white;
   font-size: 6.4rem;
}
.page-homepage .hero-text-container h3{
   color: white;
   font-size: 2.4rem;
   max-width: 38rem;
   margin-top: 4rem;
}
.page-homepage .hero-text-container button{
   color: #0C1832;
   background-color: white;
   font-size: 2.4rem;
   padding: 2.4rem;
   border: 0;
   border-radius: 1.8rem;
   margin-top: 4rem;
}

.page-homepage .hero-text-container button:hover{
    background-color: #ddd;
    color: #0C1832;
    font-weight: 600;
    cursor: pointer;
}

.page-homepage .first-triangle{
    position: absolute;
    width: 0px;
    height: 0px;
    border-left: 0 solid transparent;
    border-right: 95vw solid transparent;
    border-top: 100vh solid #0C1832;
}
.page-homepage .hero-container{
    overflow: hidden;
    width: 100%;
}
.page-homepage .hero-container img{
    height: 1440px;
}
.page-homepage .hero-container .hero-fog{
    position: absolute;
    background: rgba(12, 24, 50, 0.6);
    width: 100%;
    height: 1440px;

}

@media(max-width: 600px){
    .page-homepage .hero-text-container h3{
        font-size: 1.6rem;
    }
    .page-homepage .hero-text-container h1{
        font-size: 4.8rem;
    }
}